.card-container {
  margin: 10px;
  font-size: 1.2rem;
  color: #151611;
  padding: 5px;
  border-radius: 12px;
  background-color: #52b2a9;
  animation-name: cardcreation;
  animation-duration: 4s;
}

@keyframes cardcreation {
  from {
    background-color: #cb7350;
  }
  to {
    background-color: #52b2a9;
  }
}

.card-details {
  max-height: 0;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  transition: max-height 1s ease-in;
}

.card-details.is-toggled {
  max-height: auto;
}
